---
const {
    x,          // x index
    y,          // y index
    a,          // size of the tile
    s = 1       // step size unit
} = Astro.props;
---

<div class="hexagon bg-red-500 absolute" style=`--x: ${x}; --y: ${y}; --s: ${s}; height: ${a}; width: ${a};`>
    <slot />
</div>

<style>
    .hexagon {
        clip-path: polygon(50% 100%, 93.3% 75%, 93.3% 25%, 50% 0%, 6.7% 25%, 6.7% 75%);
        transform: translate(calc(var(--x) * var(--s) * 100%), calc(var(--y) * var(--s) * 86.67%));
    }
</style>
